{#
/**
 * @file
 * Theme implementation to display a webmention.
 *
 * Template suggestions are based on property.
 */
#}

{%
  set classes = [
    'webmention',
    'webmention--' ~ property|clean_class,
  ]
%}

<div{{ attributes.addClass(classes) }}>

    {% if show_summary %}

      <span class="webmention-summary">

        {% if show_avatar %}
            <img src="{{ author_photo }}" width="40" title="{{ author_name }}" />
        {% endif %}

        {{ interaction }} {{ author_name }}

        {% if show_created %}
          {% trans %}on{% endtrans %}  {{ created }}
        {% endif %}

      </span>

    {% endif %}

    {% if content %}

      <div class="webmention-content">

        {% if show_photo and photo %}
            <div class="photo"><img src="{{ photo }}" /></div>
        {% endif %}

        {{ content }}
      </div>

    {% endif %}

</div>
